@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url(../css/style.css);

body {
    font-family: 'Jost', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* HEADER */
.list {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
    text-decoration: none;
    padding: 0 42px;
}


/* HEADER TUGASHI */

/* SECTION BOSHLANISHI */
.inner-container {
    max-width: 1111px;
    margin: 0 auto;
}

.adwar {
    position: absolute;
    max-width: 540px;
    padding: 145px 95px;
}

.text {
    font-weight: 500;
    font-size: 34px;
    line-height: 48px;
    color: #FFFFFF;
}

.text1 {
    font-size: 16px;
    line-height: 26px;
    max-width: 445px;
    color: #FFFFFF;
}

.learn {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 18px 24px;
    text-decoration: none;
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
}


/* SECTION TUGASHI */

/* SECTION-2 */
.write {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #FFFFFF;
}


.write2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.adwars {
    position: absolute;
    max-width: 540px;
    padding: 268px 136px;

}

.award-item {
    position: relative;
}

.award-text {
    top: 40%;
    right: 20%;
    position: absolute;
}

.grap {
    position: absolute;
    max-width: 540px;
    padding: 106px 93px;
}

.images {
    padding: 10px 23px;
}

/* SECTION-2 TUGASHI */

/* SECTION-3 BOSHLANISHI */

.pass {
    text-align: center;
}

.write3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    padding-top: 48px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
}

.award {
    position: relative;
    top: 90px;
}

.write4 {
    font-size: 19px;
    padding-top: 20px;
    line-height: 26px;
    text-align: center;
    color: #333136;
}

.lar {
    margin-left: 240px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: -206px;
    margin-left: 699px;
    padding: 18px 24px;
    text-decoration: none;
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
}

.more {
    margin-top: 128px;
}

/*  */
/*  */


.lets {

    max-width: 580px;
    padding: 43px 95px;
}

.get {
    padding-top: 123px;

    text-align: center;
}

.talk {

    background-image: url(../img/Group\ 28.jpg);
    background-repeat: no-repeat;
    height: 292px;
}


/*  */
.balck {
    background-color: #333136;
    width: 100%;
    height: 100%;
    padding: 60px;
}

.call {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    color: #FFFFFF;

}

.friend {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-decoration: none;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.mailto {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-decoration: none;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.icon {

    padding: 16px;
    background: #E7816B;
}

.lis {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 60px 30px;
    color: #FFFFFF;
}

.row {
    margin-top: 60px;
}