@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url(../css/style.css);


body {
    font-family: 'Jost', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* HEADER */
.list {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
    position: relative;
    text-decoration: none;
    padding: 0 42px;
}

.inner-container {
    max-width: 1111px;
    margin: 0 auto;
}

.adward {
    position: absolute;
    max-width: 540px;
    padding: 145px 95px;
}

.text5 {
    font-weight: 500;
    font-size: 34px;
    top: -254px;
    position: relative;
    line-height: 48px;
    color: #FFFFFF;
}

.text1 {
    font-size: 16px;
    position: absolute;
    line-height: 26px;
    max-width: 445px;
    color: #FFFFFF;
    top: 261px;
    left: 441px;
}

.world {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #E7816B;
}

.tet {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #E7816B;
}

.learn {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 18px 24px;
    text-decoration: none;
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
}

.award {
    position: relative;
    top: 42px;
}

.oval {
    background-image: url(../img/oval1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    padding: 340px 87px 135px 95px;
}


.frame {
    background-image: url(../img/ded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/*  */
.mish {
    background-image: url(../img/tailent.jpg);
    background-repeat: no-repeat;


}

.tex {
    font-weight: 500;
    font-size: 34px;

    line-height: 48px;
    color: #FFFFFF;

}

.text3 {
    font-size: 16px;

    line-height: 26px;
    max-width: 445px;
    color: #FFFFFF;
}

.kish {

    background-image: url(../img/Group\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: 10% 50%;
    padding: 240px 87px 135px 95px;

}

.locations {
    margin-top: 40px;
}

.found {
    margin-top: 40px;
}


.canada {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;

    color: #333136;
}

.cana {
    text-align: center;
}

.real {
    background-image: url(../img/Group\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    padding: 140px 87px 135px 95px;
}

.deal {
    background-image: url(../img/real.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.lets {

    max-width: 580px;
    padding: 43px 95px;
}

.get {
    padding-top: 123px;

    text-align: center;
}

.talk {

    background-image: url(../img/Group\ 28.jpg);
    background-repeat: no-repeat;
    height: 292px;
}


.balck {
    background-color: #333136;
    width: 100%;
    height: 100%;
}

.lis {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 60px 30px;
    color: #FFFFFF;

}

.abou {
    margin-bottom: 160px;
    margin-top: 160px;
}


.lar {
    margin-left: 240px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 18px 24px;
    text-decoration: none;
    position: absolute;
    margin-top: 90px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
}

.friend {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.call {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    color: #FFFFFF;

}

.mailto {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    color: #FFFFFF;

}

.line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 4px;
    background-color: #E7816B;
    transform: scaleX(0);
    transition: transform 0, 5s ease-in-out;
}

line:hover {
    transform: scaleX(1);

}

.icon {

    padding: 16px;
    background: #E7816B;
}

.adwar {
    position: absolute;
    max-width: 540px;
    padding: 145px 95px;
}

.text9 {
    font-size: 16px;
    line-height: 26px;
    max-width: 445px;
    color: #FFFFFF;
}

.see {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #E7816B;
    border-radius: 8px;
    padding: 18px 18px;
    text-decoration: none;
    color: #FFFFFF;

}

.see:hover {
    opacity: 0.2;
}